.container {
  width: 100%;
  height: calc(100vh - 8rem);
  /* min-height: calc(100vh - 8rem); */
  padding: 1rem 1rem 0;
  display: flex;
}

.container .left {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.container .right {
  width: 55rem;
  max-width: 100%;
  height: 100%;
}

.container .top {
  padding: 1rem 0.5rem 1rem 0;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.container h2 {
  display: inline-block;
  font-weight: 800;
}

.container .top button {
  font-size: 0.8rem;
  color: #fff;
  padding: 0.2rem 0.5rem 0.15rem;
  border-radius: 5rem;
  margin-left: 0.2rem;
  opacity: 0.8;
  transition: all 0.2s;
}
.top button:hover {
  opacity: 1;
}

.top .reset {
  background-color: var(--primary-color);
}
.top .import {
  background-color: #894cb3;
}

.container h3 {
  font-weight: 700;
}

.unfinished,
.finished {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.finished .list {
  opacity: 0.6;
}

.list {
  height: 100%;
}

.empty {
  padding: 3rem 2rem 2rem;
  text-align: center;
  font-size: 0.9rem;
}

book-list .top {
  padding: 0.3rem 0 !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Filter */
book-list .filter {
  height: 100%;
  align-items: center;
  position: relative;
}

book-list .filter .selected {
  font-size: 0.8rem;
  min-width: 90px;
  padding: 0.2rem 0.5rem;
  border: 1px solid var(--secondary-color);
  border-radius: 0.2rem;
  background-color: #fff;
  color: var(--primary-color);
  margin-left: 0;
}

book-list .filter .selected:hover {
  border-color: #ccc;
}

book-list .filter .reverse {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-radius: 0.2rem;
  transform: rotate(90deg);
  padding: 0.3rem 0.35rem 0rem;
  margin-left: 0;
  margin-right: 2rem;
}

book-list .filter .option.show {
  display: flex;
  animation: popup-container 0.35s forwards;
  pointer-events: unset;
}

book-list .option {
  width: calc(100% - 2rem);
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  z-index: 10;
  flex-direction: column;
  background-color: #fff;
  font-size: 0.8rem;
  border: 1px solid var(--primary-color);
  border-radius: 0.3rem;
  overflow: hidden;
  pointer-events: none;
}

book-list .option a {
  padding: 0.3rem 0.7rem;
  cursor: pointer;
  border-bottom: 1px solid var(--secondary-color);
  transition: all 0.2s;
  background-color: #fff;
  color: #555;
}
book-list .option a:last-child() {
  border-bottom: 0;
}

book-list .option a:hover {
  background-color: #f9f9f9;
}

/* Item */

.book-list li {
  list-style: none;
  height: 100%;
  max-height: 45px;
  border-bottom: 1px solid var(--secondary-color);
  margin-right: 2rem;
}

.book-list li:last-child {
  border-width: 0;
}

.editing {
  background-color: #f0f9f9;
}

.new {
  animation: forwards 2s spawn-primary;
}

book-item span {
  background-color: #ffefef;
}

book-item {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 0.9rem;
  transition: all 0.25s;
}

book-item::before {
  font-family: 'bookshelf-apps' !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\64';
  display: block;
  padding: 0.35rem;
  font-size: 0.5rem;
  color: var(--primary-color);
}

.book-list .info,
.book-list h4 {
  width: 100%;
}

.book-list h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.container .info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-right: 1rem;
}

.author,
.year {
  padding: 0.1rem 0.5rem;
  border-radius: 1rem;
  font-size: 0.9em;
}
.author {
  text-align: center;
  color: #2dabd1;
  background-color: #dcf5fa;
  width: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.year {
  color: #d88237;
  white-space: nowrap;
  background-color: #fceadc;
}

.action {
  display: flex;
  flex-wrap: nowrap;
  transition: all 0.3s;
  opacity: 1;
}

.editing .action {
  opacity: 0;
  pointer-events: none;
}

/* Pagination */
.pagination {
  display: block;
  padding: 0.8rem 0;
}
.pagination ul {
  list-style: none;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  margin-right: 2rem;
}

.pagination li {
  list-style: none;
}

.pagination li a,
.pagination li button,
.edit,
.delete,
.check {
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  margin: 0 0.1rem;
  border: 1px solid var(--secondary-color);
  background-color: #fff;
  transition: all 0.2s;
}

.edit,
.delete,
.check {
  padding: 0.4rem 0.5rem 0.2rem;
  border-radius: 0.3rem;
  border: 0;
}
.edit {
  color: #555;
}
.edit:hover {
  background-color: var(--blue);
  color: #fff;
}
.delete {
  color: var(--primary-color);
}
.delete:hover {
  color: #fff;
  background-color: var(--primary-color);
}
.check {
  color: #559e76;
}
.check:hover {
  background-color: #559e76;
  color: #fff;
}

.pagination li:hover a,
.pagination li:hover button {
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  margin: 0 0.1rem;
  border: 1px solid #ccc;
}

.pagination li button.active {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.toast-body {
  position: fixed;
  text-align: center;
  bottom: 2.5rem;
  right: 3rem;
  color: #559e76;
  padding: 0.8rem 1.5rem 0.5rem;
  background-color: #d0eadd;
  border-radius: 0.3rem;
  animation: forwards toast 4s;
  max-width: 200px;
  pointer-events: none;
}

@media screen and (max-width: 755px) {
  .container {
    flex-direction: column;
    padding: 0;
    height: unset;
  }

  .finished {
    margin-top: 2rem;
  }

  .container .right {
    height: unset;
  }

  book-item {
    padding: 0.5rem 0;
  }
}

@media screen and (max-width: 500px) {
  .container .info {
    justify-content: space-between;
  }

  book-list .filter .reverse {
    margin-right: 0;
  }

  book-item {
    flex-direction: column;
    margin-right: 0.2rem;
    padding: 0.5rem 0.2rem;
    padding-left: 1.5rem;
    position: relative;
  }
  book-item::before {
    left: 0;
    position: absolute;
  }

  .book-list li {
    max-height: unset;
  }
}

@keyframes toast {
  0% {
    opacity: 0;
    right: -100%;
    transform: translateY(0);
  }
  15% {
    opacity: 1;
    right: 3rem;
    transform: translateY(0);
  }
  85% {
    opacity: 1;
    right: 3rem;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50%);
  }
}
