@import url('./header.css');
@import url('./popup.css');
@import url('./content.css');
@import url('./add-book.css');

@charset "UTF-8";

@font-face {
  font-family: 'bookshelf-apps';
  src: url('fonts/bookshelf-apps.eot');
  src: url('fonts/bookshelf-apps.eot?#iefix') format('embedded-opentype'),
    url('fonts/bookshelf-apps.woff') format('woff'),
    url('fonts/bookshelf-apps.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary-color: #ff6092;
  --secondary-color: #efefef;
  --blue: #2dabd1;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}
body {
  background-image: linear-gradient(135deg, #ebc0d3, #96bbe8);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  color: #1c262c;
}

body,
input,
button {
  font-family: 'Nunito Sans', sans-serif;
}

input,
button {
  font-size: 1rem;
  border: 0;
}
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}
span {
  color: #ff6092;
}

section {
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding: 1rem 2rem 1rem;
  display: block;
  border-radius: 2rem;
  overflow: hidden;
}

.copyright {
  font-size: 0.8rem;
  text-align: center;
  padding-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -0.5rem;
}
.copyright a {
  color: initial;
  font-weight: bold;
}

.copyright i {
  color: #eb326c;
  font-size: 1rem;
  line-height: 0;
}

[class^='ba-']:before,
[class*=' ba-']:before {
  font-family: 'bookshelf-apps' !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ba-delete:before {
  content: '\61';
}
.ba-search:before {
  content: '\62';
}
.ba-edit:before {
  content: '\63';
}
.ba-circle:before {
  content: '\64';
}
.ba-plus-o:before {
  content: '\65';
}
.ba-check:before {
  content: '\66';
}
.ba-book-open:before {
  content: '\67';
}
.ba-edit-o:before {
  content: '\6a';
}
.ba-close:before {
  content: '\6b';
}
.ba-reset:before {
  content: '\6c';
}
.ba-import:before {
  content: '\6e';
}
.ba-reverse:before {
  content: '\6d';
}
.ba-filter:before {
  content: '\69';
}
.ba-heart:before {
  content: '\68';
}

@media screen and (max-width: 755px) {
  html {
    font-size: 14px;
  }
  body {
    height: unset;
    min-height: 100vh;
  }
  section {
    height: unset;
    min-height: 100%;
  }
}

@keyframes spawn-primary {
  0% {
    background-color: #fcedeb;
  }
  100% {
    background-color: #fff;
  }
}

@keyframes spawn-blue {
  0% {
    background-color: #dcf5fa;
  }
  100% {
    background-color: #fff;
  }
}
